<Div align="center">
    <h1>現在の予約を確認できます<br></h1>
</Div>
<Div>
  <h3>繰り返し予約</h3>
  <table border align="center">
    <tr>
        <td> 種別 </td>
        <td> 摘要 </td>
        <td> 時間 </td>
        <td> 期間 </td>
        <td> 教室 </td>
        <td> 予約削除 </td>
    </tr>
    <% @repeat_rsv.each do |rpt| %>
      <tr>
        <td> <%= @rsvtypes.find(rpt.rsv_type).name %> </td>
        <td> <%= rpt.rsv_name %> </td>
        <td> <%= rpt.rsv_wday %>, <%= @periods.find(rpt.period_id).period_char %> </td>
        <td> ～<%= rpt.expired %> </td>
        <td> <%= @rooms.find(rpt.room_id).room_name %> </td>
        <form method="post" action="/sudelete">
            <input type="hidden" name="repeat" value="1">
            <input type="hidden" name="expired" value="<%= rpt.expired %>">
            <input type="hidden" name="rsvdate" value="<%= rpt.rsv_wday %>">
            <input type="hidden" name="roomid" value="<%= rpt.room_id %>">
            <input type="hidden" name="periodid" value="<%= rpt.period_id %>">
            <td><input type="submit" name="delete" value="予約削除"></td>
        </form>   
      </tr>
    <% end %>
  </table>
</Div>
<Div>
  <h3>その他予約</h3>
  <table border align="center">
    <tr>
        <td align="center"> 種別 </td>
        <td align="center"> 摘要 </td>
        <td align="center"> 日時 </td>
        <td align="center"> 教室 </td>
        <td align="center"> 予約削除 </td>
    </tr>
    <% @current_rsv.each do |rpt| %>
      <tr>
        <td> <%= @rsvtypes.find(rpt.rsv_type).name %> </td>
        <td> <%= rpt.rsv_name %> </td>
        <td> <%= rpt.rsv_date %>, <%= @periods.find(rpt.period_id).period_char %> </td>
        <td> <%= @rooms.find(rpt.room_id).room_name %> </td>
        <form method="post" action="/sudelete">
            <input type="hidden" name="rsvdate" value="<%= rpt.rsv_date %>">
            <input type="hidden" name="roomid" value="<%= rpt.room_id %>">
            <input type="hidden" name="periodid" value="<%= rpt.period_id %>">
            <td><input type="submit" name="delete" value="予約削除"></td>
        </form>
      </tr>
    <% end %>
  </table>
    
  
  <a href="/supersv">予約ページへ</a>
</Div>
